@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?85507235');
  src: url('../font/fontello.eot?85507235#iefix') format('embedded-opentype'),
       url('../font/fontello.woff?85507235') format('woff'),
       url('../font/fontello.ttf?85507235') format('truetype'),
       url('../font/fontello.svg?85507235#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?85507235#fontello') format('svg');
  }
}
*/

 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-untitled-4:before { content: '\e801'; } /* '' */
.icon-art+:before { content: '\e802'; } /* '' */
.icon-law+:before { content: '\e803'; } /* '' */
.icon-algebra:before { content: '\e805'; } /* '' */
.icon-astronomy-10.27.29:before { content: '\e808'; } /* '' */
.icon-basket-10.27.29:before { content: '\e80a'; } /* '' */
.icon-biology-10.27.29:before { content: '\e80c'; } /* '' */
.icon-catalog_1-10.27.29:before { content: '\e80e'; } /* '' */
.icon-catalog_2-10.27.29:before { content: '\e810'; } /* '' */
.icon-chemistry-10.27.29:before { content: '\e812'; } /* '' */
.icon-chinese-10.27.29:before { content: '\e814'; } /* '' */
.icon-culture-10.27.29:before { content: '\e816'; } /* '' */
.icon-drawing-10.27.29:before { content: '\e818'; } /* '' */
.icon-ecology-10.27.29:before { content: '\e81a'; } /* '' */
.icon-economy-10.27.29:before { content: '\e81c'; } /* '' */
.icon-english-10.27.29:before { content: '\e81e'; } /* '' */
.icon-ethics-10.27.29:before { content: '\e820'; } /* '' */
.icon-exit-10.27.29:before { content: '\e822'; } /* '' */
.icon-french:before { content: '\e825'; } /* '' */
.icon-geography:before { content: '\e827'; } /* '' */
.icon-geometry:before { content: '\e829'; } /* '' */
.icon-germany-10.27.29:before { content: '\e82a'; } /* '' */
.icon-grades-10.27.29:before { content: '\e82c'; } /* '' */
.icon-history-10.27.29:before { content: '\e82e'; } /* '' */
.icon-informatics-10.27.29:before { content: '\e830'; } /* '' */
.icon-italy-10.27.29:before { content: '\e832'; } /* '' */
.icon-life_safety-10.27.29:before { content: '\e836'; } /* '' */
.icon-literature:before { content: '\e839'; } /* '' */
.icon-login-10.27.29:before { content: '\e83a'; } /* '' */
.icon-mail:before { content: '\e83d'; } /* '' */
.icon-mathematics:before { content: '\e83f'; } /* '' */
.icon-music:before { content: '\e841'; } /* '' */
.icon-natural_history:before { content: '\e843'; } /* '' */
.icon-painting:before { content: '\e845'; } /* '' */
.icon-phisics:before { content: '\e847'; } /* '' */
.icon-preschool:before { content: '\e849'; } /* '' */
.icon-russian-10.27.29:before { content: '\e84a'; } /* '' */
.icon-russian_history:before { content: '\e84c'; } /* '' */
.icon-social_studies:before { content: '\e84f'; } /* '' */
.icon-teacher_man:before { content: '\e853'; } /* '' */
.icon-teacher_woman:before { content: '\e855'; } /* '' */
.icon-sport+:before { content: '\e856'; } /* '' */




// стили по коду
.xe801:before { content: '\e801'; } /* '' */
.xe802:before { content: '\e802'; } /* '' */
.xe803:before { content: '\e803'; } /* '' */
.xe805:before { content: '\e805'; } /* '' */
.xe808:before { content: '\e808'; } /* '' */
.xe80a:before { content: '\e80a'; } /* '' */
.xe80c:before { content: '\e80c'; } /* '' */
.xe80e:before { content: '\e80e'; } /* '' */
.xe810:before { content: '\e810'; } /* '' */
.xe812:before { content: '\e812'; } /* '' */
.xe814:before { content: '\e814'; } /* '' */
.xe816:before { content: '\e816'; } /* '' */
.xe818:before { content: '\e818'; } /* '' */
.xe81a:before { content: '\e81a'; } /* '' */
.xe81c:before { content: '\e81c'; } /* '' */
.xe81e:before { content: '\e81e'; } /* '' */
.xe820:before { content: '\e820'; } /* '' */
.xe822:before { content: '\e822'; } /* '' */
.xe825:before { content: '\e825'; } /* '' */
.xe827:before { content: '\e827'; } /* '' */
.xe829:before { content: '\e829'; } /* '' */
.xe82a:before { content: '\e82a'; } /* '' */
.xe82c:before { content: '\e82c'; } /* '' */
.xe82e:before { content: '\e82e'; } /* '' */
.xe830:before { content: '\e830'; } /* '' */
.xe832:before { content: '\e832'; } /* '' */
.xe836:before { content: '\e836'; } /* '' */
.xe839:before { content: '\e839'; } /* '' */
.xe83a:before { content: '\e83a'; } /* '' */
.xe83d:before { content: '\e83d'; } /* '' */
.xe83f:before { content: '\e83f'; } /* '' */
.xe841:before { content: '\e841'; } /* '' */
.xe843:before { content: '\e843'; } /* '' */
.xe845:before { content: '\e845'; } /* '' */
.xe847:before { content: '\e847'; } /* '' */
.xe849:before { content: '\e849'; } /* '' */
.xe84a:before { content: '\e84a'; } /* '' */
.xe84c:before { content: '\e84c'; } /* '' */
.xe84f:before { content: '\e84f'; } /* '' */
.xe853:before { content: '\e853'; } /* '' */
.xe855:before { content: '\e855'; } /* '' */
.xe856:before { content: '\e856'; } /* '' */


.demo-icon {
    font-family: "fontello";
    font-style: normal;
    font-weight: normal;
    speak: none;

    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    /* opacity: .8; */

    /* For safety - reset parent styles, that can break glyph codes*/
    font-variant: normal;
    text-transform: none;

    /* fix buttons height, for twitter bootstrap */
    line-height: 1em;

    /* Animation center compensation - margins should be symmetric */
    /* remove if not needed */
    margin-left: .2em;

    /* You can be more comfortable with increased icons size */
    /* font-size: 120%; */

    /* Font smoothing. That was taken from TWBS */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    /* Uncomment for 3D effect */
    /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
