#footer-notices {
  position: fixed;

  bottom: 0;
  left: 0;
  width: 100%;
  padding: 0;
  height: 45px;

  background-color: #FFFFFF;
  border-top: 1px solid #2e3092;
  font-family: Arial;
  font-size: 12pt;
  z-index: 10;

  -webkit-box-shadow: 0 0 15px #AAAAAA;
  -moz-box-shadow: 0 0 15px #AAAAAA;
  box-shadow: 0 0 15px #AAAAAA;
}

#footer-notices td {
  padding: 0;
}

#footer-notices img {
  border: none;
}

#footer-notices .logos {
  // width: 150px;
  width: 300px;
}

#footer-notices .logo {
  /*display: none;*/
  text-align: center;
}

#footer-notices .logo img {
  // height: 35px;
  min-height: 100%;
  max-width: 300px;
  vertical-align: middle;
}

#footer-notices .arrow {
  width: 20px;
}

#footer-notices .notices {
  padding: 5px 10px 5px 15px;
}

#footer-notices .notices .notice .date {
  color: #6264ad;
  margin-right: 10px;
}

#footer-notices .notice {
  display: none;
}

#footer-notices .notice .text {
    display: inline-block;
    font-size: 13px;
    line-height: 13px;
    font-weight: bold;
    max-width: 90%;
}

@media (max-width: 800px) {
  #footer-notices .logos,
  #footer-notices .arrow {
    display: none !important;
  }
}
